asgiref
asttokens 
backcall 
Bottleneck
colorama
debugpy
decorator
Django
django-globals==0.3.2
entrypoints
et-xmlfile==1.1.0
executing
gunicorn==20.1.0
ipykernel
ipython
jedi
jsonfield==3.1.0
jupyter-client
jupyter-core
matplotlib-inline
mkl-service
nest-asyncio
numexpr
numpy
openpyxl
packaging
pandas
parso
pickleshare
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32==303
pyzmq
six
sqlparse
stack-data
tornado
traitlets
typing_extensions
tzdata
wcwidth
whitenoise==6.1.0
