body{
    background: url("../images/l10.jfif") no-repeat center center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
    display: flex;
    flex-wrap:wrap;
  }
  ul {
      left: 0;
      top: 5%;
      width: 30%;
      text-align: left;
      font-size: larger;
      display: inline-block;
      list-style-type: none;
    }
    li {
      display: inline-block;
    }
    li a {
      display: block;
      color: white;
      text-align: left;
      text-decoration: none;
      margin: 0;
    }
    li a:hover:not(.active) {
      background-color: #111;
    }
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
    }
    .card__container {
      display: grid;
      width:100%;
      height:100%;
      grid-template-columns:1fr 1fr ;
      grid-template-rows: 1fr 1fr;
      row-gap: calc(4cm);
      column-gap: calc(4cm);
      align-items: center;
      justify-items: center;
      margin-left: 0;
      
    }
    .card1 {
      width: 100%;
      height: 130%;
      max-height: 1000px;
      margin: 0 ;
      padding: auto;
      text-align: center;
      background: white;
      opacity:calc(100%);
      border-radius: 10px;
      text-decoration: none;
  }
  .card2 {
    width: 100%;
    height: 130%;
    max-height: 1000px;
    margin: 0 ;
    padding: auto;
    text-align: center;
    background: white;
    opacity:calc(100%);
    border-radius: 10px;
    text-decoration: none;
}
  p{
      font-size:500%;
      color:black;
      text-decoration: none;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } 
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: oldlace;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}
a.about:link, a.ig:link,a.fb:link,a.li:link{
    width:50px;
    height:50px;
    color:black;
    font-size:x-large;
    font-weight: bold;
    text-decoration: none;

}
a.about:hover{
    color:#fff
}