.filterhead{
    font-weight: bold;
    font-size: 20px;
}
.filterimg{
    height:35px;
    width: auto;
}

form{
    background-color:#baf6e581;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    border-radius: 40px;
}
.checkmargin{
    margin-left: 20px;;
}
.instructions{
    text-align: justify;
}
.filtersub{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}