{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}
{% block title %}Inspection{% endblock title %}
{% block link %}
<link rel="stylesheet" href={%static 'styles/filter.css'%}>
<!-- <link rel="stylesheet" type="text/css" href="static/styles/print.css" media="print"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href={%static 'styles/gapanalysis2.css'%}>
<script src={%static "scripts/show.js"%}></script>
<script src={%static "scripts/filter.js"%}></script>
<script src={%static "scripts/print.js"%}></script>

{% endblock link %}
{% block body %}
<nav class="navbar fixed-top navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">NETSUM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
          <li class="nav-item">
            <a href="/handlelogout"><button type="button" class="btn btn-success">Log Out</button></a>
          </li>
      </div>
    </div>
  </nav>
<div class="wrapper cover" style="margin-top:50px;">
    <div class="d-md-flex align-items-md-center">
        <div class="h3">Gap Analysis</div>
        <div class="ml-auto d-flex align-items-center views"> <span class="btn text-success"> <span
                    class="fas fa-th px-md-2 px-1"></span><span>Grid view</span> </span> <span class="btn"> <span
                    class="fas fa-list-ul"></span><span class="px-md-2 px-1">List view</span> </span> </div>
    </div>

    <div class="d-sm-flex align-items-sm-center pt-2 clear">
        <div class="text-muted filter-label">Applied Filters:</div>
        <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2">Selected Filtre <span
                class=" px-1 close">&times;</span> </div>
        <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0">Selected Filtre <span
                class=" px-1 close">&times;</span> </div>
    </div>
    <div class="filters"> <button class="btn btn-success my-2" type="button" data-toggle="collapse"
            data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter" onclick="togglesidebar()">Filter<span
                class="px-1 fas fa-filter"></span></button> </div>

        

    <div id="mobile-filter">
      <a href="/reset_gafilter/{{sireqn.number}}" style="text-decoration: None;"><img src= {%static "images/icons8-reset-30.png"%} alt="Reset">Filter Reset</a>
        <div class="py-3">
            <h6 class="font-weight-bold">Qustion Distribution</h6>
            <ul class="list-group">
              <span class="hovertext" data-hover="Minimum Questions required to meet the fundamental risk assessment criteria, as defined by the OCIMF bowtie risk assessment process.">  
                <li
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
                    Core <span class="badge badge-primary badge-pill">328</span> </li>
                    <span class="hovertext" data-hover="A non-core question assigned to a vessel on an ocassional basis.">
                <li
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
                    Rotational <span class="badge badge-primary badge-pill">112</span> </li>
            </ul>
        </div>
        <form action="" , method="post">
            {% csrf_token %}
            <div class="mb-4">
                <h6>Question Type</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qtype" value="core" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      <span class="hovertext" data-hover="Minimum Questions required to meet the fundamental risk assessment criteria, as defined by the OCIMF bowtie risk assessment process.">
                        Core</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qtype" value="rotational"
                        id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      <span class="hovertext" data-hover="A non-core question assigned to a vessel on an ocassional basis.">
                        Rotational</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="qtype" value="all" id="flexRadioDefault2"
                        checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        All
                    </label>
                </div>
            </div>
            <div class="mb-4">
                <h6>Conditional</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ctype" value="true" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        True
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ctype" value="false" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        False
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ctype" value="all" id="flexRadioDefault2"
                        checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        All
                    </label>
                </div>
            </div>
            <div class="py-3">
                <h6 class="font-weight-bold">Vessel Type</h6>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Chemical <input
                            name="vessel" value="chemical" type="checkbox"> <span class="check"></span> </label>
                </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">LNG <input
                            name="vessel" value="lng" type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">LPG <input
                            name="vessel" value="lpg" type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Oil <input
                            name="vessel" value="oil" type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">All
                        <input type="checkbox" name="vessel[]" value="all"> <span class="check"></span> </label>
                </div>
            </div>
            <div class="py-3">
                    <h6 class="font-weight-bold"><span class="hovertext" data-hover="The deficient vessel structure, machinery, outfitting or equipment identified 
                      through the standard classification coding.">Hardware Response Type</span></h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="hardrestype">
                        <option selected value="binary">Binary</option>
                        <option value="graduated">Graduated</option>
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="py-3">
                    <h6 class="font-weight-bold"><span class="hovertext" data-hover="The rank grouping of the Observed Person (OP) or Responsible Team (RT).">Human Response Type</span></h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="humanrestype">
                        <option selected value="binary">Binary</option>
                        <option value="graduated">Graduated</option>
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="py-3">
                    <h6 class="font-weight-bold"><span class="hovertext" data-hover=" The deficient procedure and/or document identified through the TMSA-based 
                      classification coding.">
                      Process Response Type
                    </span></h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="procrestype">
                        <option selected value="binary">Binary</option>
                        <option value="graduated">Graduated</option>
                        <option value="all">All</option>
                    </select>
                </div>
        </form>
    </div>
    <a href="/reset_gafilter/{{sireqn.number}}" style="text-decoration: None; color:black;"><img src= {%static "images/icons8-reset-30.png"%} alt="Reset">Filter Reset</a>
    <div class="content py-md-0 py-3">
        <section id="sidebar">
            <div class="py-3">
                <h6 class="font-weight-bold">Categories</h6>
                <ul class="list-group">
                  <span class="hovertext" data-hover="Minimum Questions required to meet the fundamental risk assessment criteria, as defined by the OCIMF bowtie risk assessment process.">
                    <li
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
                        Core <span class="badge badge-primary badge-pill">328</span> </li>
                      </span>

                      <span class="hovertext" data-hover="A non-core question assigned to a vessel on an ocassional basis.">
                    <li
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
                        Rotational <span class="badge badge-primary badge-pill">112</span> </li>
                      </span>
                </ul>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <h6>Question Type</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="qtype" value="Core" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Core
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="qtype" value="Rotational"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Rotational
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="qtype" value="all" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            All
                        </label>
                    </div>
                </div>
                <div class="mb-4">
                    <h6>Conditional</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ctype" value="true" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            True
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ctype" value="false" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            False
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ctype" value="all" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            All
                        </label>
                    </div>
                </div>
                <div class="py-3">
                    <h6 class="font-weight-bold">Vessel Type</h6>
                    <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Chemical <input
                                name="vessel" value="Chemical" type="checkbox"> <span class="check"></span> </label>
                    </div>
                    <div class="form-inline d-flex align-items-center py-1"> <label class="tick">LNG <input
                                name="vessel" value="LNG" type="checkbox"> <span class="check"></span> </label> </div>
                    <div class="form-inline d-flex align-items-center py-1"> <label class="tick">LPG <input
                                name="vessel" value="LPG" type="checkbox"> <span class="check"></span> </label> </div>
                    <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Oil <input
                                name="vessel" value="Oil" type="checkbox"> <span class="check"></span> </label> </div>
                </div>
                <div class="py-3">
                    <h6 class="font-weight-bold"><span class="hovertext" data-hover="The deficient vessel structure, machinery, outfitting or equipment identified 
                      through the standard classification coding.">
                      Hardware Response Type
                    </span></h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="hardrestype">
                        <option selected value="Binary">Binary</option>
                        <option value="Graduated">Graduated</option>
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="py-3">
                    <h6 class="font-weight-bold"><span class="hovertext" data-hover="The rank grouping of the Observed Person (OP) or Responsible Team (RT).">
                      Human Response Type
                    </span></h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="humanrestype">
                        <option selected value="Graduated">Graduated</option>
                        <option value="None">None</option>
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="py-3">
                    <h6 class="font-weight-bold"><span class="hovertext" data-hover=" The deficient procedure and/or document identified through the TMSA-based 
                      classification coding.">
                      Process Response Type
                    </span></h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="procrestype">
                        <option selected value="Graduated">Graduated</option>
                        <option value="Binary">Binary</option>
                        <option value="all">All</option>
                    </select>
                </div>
                <!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <span class="hovertext" data-hover="The CVIQ grouped and reordered into the normal inspection locations and route taken during a vessel inspection">
    ROVIQ
  </span>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ROVIQ Categories</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-4">
                <h6>Select required categories to filter</h6>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="roviq" value="all" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    All
                  </label>
                </div>
                {% for category in var1 %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name= "roviq" value="{{category}}" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    {{category}}
                  </label>
                </div>
                {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #008000;">Done</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div></div>
                <br><br><button type="submit" class="btn btn-primary mt-2" name="filterbtn">Apply</button>
            </form>
        </section> <!-- Products Section -->
        <section id="products" >
                <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="background-color: #4681f4 !important;">
            <span class="hovertext_intro" data-hover="Click if you're new here!">
              Instructions
            </span>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModal2Label">Instruction Manual</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  You are now accessing the <b><i>Gap Analysis Module</i></b>. Please follow the below mentioned steps to proceed. 
                  <br> <br>
                  1. Click on the green Filter Tab to toggle it on or off. Once <b>Filter</b> tab is on, you shall be able to view a list of filters.
                  <br> <br>
                  2. Select <b>"Question Type", "Conditional", "Vessel Type", "Hardware Response Type", "Human Response Type", "Process Response Type"</b>. 
                     Upon clicking on the <b>ROVIQ</b> tab, a small pop shall appear on your web page wherein you will be able to view the ROVIQ categories. 
                     Select filters as per your requirements and click on <b>Apply</b>.
                  <br> <br>
                  3. You will now see a list of SIRE 2.0 Questions. Upon clicking on a perticular question, you can view the corresponding VIQ7 question.
                     This is follwed by a list of <b>'Potential Grounds for Negative Observations'</b> checklist. Check the boxes as per the informationed gained. 
                     <br> <br>
                     "Hardware Response Type", "Human Response Type", "Process Response Type" filters require you to choose between binary, graduated, all. <br>Hover over <span class="hovertext" data-hover=" A contextualised pair of responses which equate to a simple YES or NO 
                      response to a CVIQ question"> <b>Binary</b></span>, <span class="hovertext" data-hover=" A response to a CVIQ question that is not a simple yes or no but is graded."> <b>Graduated</b></span> to see what they mean.
                  <br> <br>
                  4. After completing the Inspection, click on the <b> Submit </b> button to proceed.
                  <br> <br>
                  <b><i># Hover over each section to get an overview.
                    <br> <br>
                    # Click on the <b> Save Choices</b> button to avoid losing your progress the next time you return.
                    <br> <br>
                    # Click on the <b> Print </b> button to print your progress so far.
                    <br> <br>
                  </i></b>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
            <div class="container py-3" id="section-to-print">
              {% for q in sireqn  %}
              {% with forloop.counter0 as  outercounter%}
              <b>SIRE 2.0 Question</b>
              {{outercounter}}:{{q}}<br><br>
              <b>Potential Grounds for Negative Observation</b>
              {% for obs in negobs|index:outercounter %}
              
                <p>{{forloop.counter}}: {{obs}}</p>
              {% endfor %}
              {% endwith %}
              {% endfor %}
            </div>
            <div class="container py-3">
              <form action="/gapanalysis2/{{sireqn.number}}" method="post">
                {% csrf_token %}
              <div class="accordion accordion-flush" id="accordionFlushExample">
                {% for q in sireqn  %}
                {% with forloop.counter0 as  outercounter%}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-heading{{forloop.counter0}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter0}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter0}}">
                      {{q}} 
                    </button>
                  </h2>
                  <div id="flush-collapse{{forloop.counter0}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter0}}" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      {% comment %} <div style="position:relative;left:10px;color:green;font-weight:20px;float:right;">Saved</div> {% endcomment %}
                      {% comment %} {% if issaved == "yes" %}<button type="button" class="btn btn-outline-success btn-sm" style="float:right;">Saved</button>{% endif %} {% endcomment %}
                      <p>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Check corresponding VIQ 7 Questions
                        </button>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          {% for vqn in viq7qs|index:outercounter %}
                          {{vqn}}<br>
                          {% endfor %}
                          {% comment %} {{sireqn|index:forloop.counter0}} {% endcomment %}
                        </div>
                      </div>
                      <br>
                      
                      <div class="reqs">
                        <h3><b>Potential Grounds for Negative Observation:</b></h3><br>
                        {% for obs in negobs|index:outercounter %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="{{uids|index:outercounter}}" value="{{forloop.counter0}}" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{obs}}
                          </label>
                        </div>
                        <br> 
                        {% endfor %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="{{uids|index:outercounter}}" value="g2g" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            The vessel is in compliance with the SIRE 2.0 question. None of the above observations are found.
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                {% endwith %}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mr-2 mt-2" style="float: right;" name="qnbtn">Save Choices</button>
          </form>
          <button type="button" class="btn btn-secondary ml-2 mt-2 prnt" style="background-color: #4681f4 !important;" onclick="printDiv()">Print</button>
          <a href="/analyse/{{sireqn.number}}"><button type="button" class="btn btn-secondary mt-2 analyse" style="background-color: #4681f4 !important;" >Check Analysis</button></a>

            <br>
            <nav aria-label="Page navigation example" class="my-4 pagenav">
              <ul class="pagination d-flex justify-content-center">
                {% if sireqn.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="/gapanalysis2/{{sireqn.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}

                {% for num in sireqn.paginator.page_range %}
                {% if sireqn.number == num %}
                <li class="page-item"><a class="page-link active" href="/gapanalysis2/{{num}}">{{num}}</a></li>
                {% elif num > sireqn.number|add:'-3' and  num < sireqn.number|add:'3' %} 
                <li class="page-item"><a class="page-link" href="/gapanalysis2/{{num}}">{{num}}</a></li>
                {% endif %}
                {% endfor %}
                {% if sireqn.has_next %}
                <li class="page-item">
                  <a class="page-link" href="/gapanalysis2/{{sireqn.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
        </section>
    </div>
</div>
{% endblock body %}