{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block link %}{% endblock link %}
{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/home_carousel2.webp" class="d-block w-100" alt="...">
    </div>
</div>
<br>
<h3 class="logreg">Welcome to SIRE 2.0</h3>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fugit iure eius facere vel. Quam ut aspernatur quo ipsa, blanditiis suscipit minima sapiente reiciendis commodi maiores asperiores officiis esse aliquid exercitationem eaque perspiciatis obcaecati ab dolorum earum qui sint mollitia eveniet! Alias dolores iusto quis fuga ea minima architecto autem id numquam? Dolore nam harum deleniti earum iure, at consectetur mollitia ipsum vero accusantium fugiat ipsa cumque animi repellendus hic?
<br>
<br>
{% endblock body %}
 