<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Home</title>{% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href={%static "styles/landing_page.css"%}>
    <script src="https://kit.fontawesome.com/08f5394404.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="#" />
    <script src="https://kit.fontawesome.com/08f5394404.js" crossorigin="anonymous"></script>
    {% block links %}{% endblock links %}
  </head>
  <body>
    <nav class="navbar fixed-top navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">NETSUM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            
              <li class="nav-item">
                <a href="/handlelogout"><button type="button" class="btn btn-success">Log Out</button></a>
              </li>
          </div>
        </div>
      </nav>
      {% block body %}

    <div class="container cover">
        <div class="card__container">
            <a href="/vesselinsp" class="card1">
                <div class="card__content">
                    <br> <br>  <br>
                    <p class="card__header">SIRE 2.0</p>
                </div>
            </a>

            <a href="/vesselinsp" class="card2">
              <div class="card__content">
                  <br> <br>  <br>
                  <p class="card__header">Uploads</p>
              </div>
            </a>

            <a href="/gapanalysis2/1" class="card2">
              <div class="card__content">
                  <br> <br>  <br>
                  <p class="card__header">Gap Analysis </p>
              </div>
            </a>
            
        </div>
    </div>
    {% endblock body %}
    <footer>
        <a href="instagram.html" class="ig"> <img src="static/images/instagram.svg" width="20" height="20" > </a>
        <a href="facebook.html" class="fb"> <img src="static/images/facebook.svg" width="20" height="20"> </a>
        <a href="linkedin.html" class="li"> <img src="static/images/linkedin.svg" width="20" height="20"> </a>
        <a href="about.html" class="about"> About </a>   
      </footer>
  </body>
</html>