body{ height:100vh; margin:0; }

header{ min-height:50px; background:lightcyan; }
footer{ min-height:50px; background:PapayaWhip; }

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: teal;
  /* margin-top: 30px; */
}

.carousel-item{
    width: 100%;
    height: fit-content;
}

.carousel-item img{
    /* width: 100%; */
    position: relative;
    bottom: 50px;
    max-height: 100vh;
}

.logreg{
    font-weight: bold;
    text-align: center;
}

.logform{
    width:80vw;
    position: relative;
    left: 10vw;
}

@media only screen and (max-width:1000px) {
    .carousel-item{
        width: 100%;
    }

    .carousel-item img{
        bottom: 0;
    }
    
    .carousel-indicators{
        top:60%;
    }
}

@media only screen and (max-width:1000px) {
    .carousel-item{
        width: 100%;
    }

    .carousel-item img{
        bottom: 0;
    }
    
    .carousel-indicators{
        top:60%;
    }
}

/* footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: teal;
    position: relative;
    top: 349px;
    overflow: hidden;
} */

a.about:link, a.ig:link,a.fb:link,a.li:link{
    width:50px;
    height:50px;
    color:black;
    font-size:x-large;
    font-weight: bold;
}
a.about:hover{
    color:#fff
}